___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!

___
## Análise e Resultados

In [13]:
#Imports
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

#Definindo dataframes 
dados = pd.read_csv('DOM2015.csv',sep=',')
df1=dados[['UF','V0207','V2020','V02322']]




#UF=Estado
#V0207=Condiçao do domicílio
#V2020=Tem telefone fixo
#V02322=Acesso a internet 




df1

        UF  V0207  V2020  V02322
0       11    3.0    4.0     4.0
1       11    NaN    NaN     NaN
2       11    3.0    4.0     2.0
3       11    1.0    2.0     2.0
4       11    1.0    4.0     4.0
5       11    1.0    2.0     2.0
6       11    1.0    4.0     4.0
7       11    1.0    4.0     4.0
8       11    3.0    2.0     2.0
9       11    NaN    NaN     NaN
10      11    1.0    2.0     2.0
11      11    1.0    2.0     2.0
12      11    NaN    NaN     NaN
13      11    3.0    4.0     2.0
14      11    NaN    NaN     NaN
15      11    3.0    4.0     2.0
16      11    1.0    4.0     4.0
17      11    1.0    2.0     2.0
18      11    1.0    2.0     2.0
19      11    1.0    4.0     2.0
20      11    1.0    2.0     2.0
21      11    3.0    4.0     4.0
22      11    NaN    NaN     NaN
23      11    2.0    2.0     2.0
24      11    NaN    NaN     NaN
25      11    NaN    NaN     NaN
26      11    3.0    4.0     4.0
27      11    1.0    2.0     2.0
28      11    1.0    2.0     2.0
29      11    3.0    4.0     2.0
...     ..    ...    ...     ...
151159  53    1.0    4.0     2.0
151160  53    NaN    NaN     NaN
151161  53    1.0    2.0     2.0
151162  53    NaN    NaN     NaN
151163  53    1.0    2.0     2.0
151164  53    1.0    2.0     2.0
151165  53    1.0    2.0     2.0
151166  53    NaN    NaN     NaN
151167  53    1.0    2.0     2.0
151168  53    3.0    2.0     2.0
151169  53    1.0    2.0     2.0
151170  53    3.0    2.0     2.0
151171  53    3.0    2.0     2.0
151172  53    3.0    4.0     4.0
151173  53    1.0    4.0     2.0
151174  53    NaN    NaN     NaN
151175  53    1.0    4.0     2.0
151176  53    NaN    NaN     NaN
151177  53    NaN    NaN     NaN
151178  53    NaN    NaN     NaN
151179  53    1.0    4.0     4.0
151180  53    1.0    4.0     4.0
151181  53    1.0    4.0     4.0
151182  53    3.0    4.0     2.0
151183  53    NaN    NaN     NaN
151184  53    3.0    4.0     4.0
151185  53    3.0    4.0     4.0
151186  53    1.0    2.0     2.0
151187  53    1.0    4.0     4.0
151188  53    1.0    2.0     2.0

[151189 rows x 4 columns]

In [14]:
#Se usar o arquivo descompactado
#pd.read_csv('DOM2015.csv',sep=',')

#Se usar o arquivo compactado como está no dropbox púbico
#pd.read_csv('DOM2015csv.zip', compression='zip', header=0, sep=',', quotechar='"')

___
## Conclusão

Descreva aqui suas conclusões!